
<%- include('partial/header', {
  title: `${post.title} - ${post.author}`,
  description: post.description,
  keywords: post.keywords,
  scripts: []
}) %>

<%- include('partial/navigator') %>

<article class="post-single post-<%= post.id %>">
  <header>
    <%= post.date %>
  </header>
  <main>
    <%- post.html %>
  </main>
  <footer>
  </footer>
</article>

<%- include('partial/footer') %>
